<p>
  I'm currently an LLM/VLM engineer at Samsung Research, where I develop on-device AI models for Samsung smartphones used by millions of people worldwide.
  My work focuses primarily on the <strong>pre/post-training of VLMs</strong>, with an emphasis on <strong>hardware-friendly &amp; efficient architectures</strong> and <strong>RL-based post-training methods</strong>.
</p>
<p>Recently my research interests include:</p>
<ul>
  <li><strong>RL-based methods and environment expansion</strong><br>
    To deploy physical AI models on the real world via moving beyond the fish-tank (from VLM to VLA).</li>
  <li><strong>Agentic / Continual Learning</strong><br>
    Giving models access to tools and operating systems, and enabling them to continually learn from their interactions and experiences.</li>
  <li><strong>Multimodal Model Training</strong><br>
    How to make models integrate information across modalities and make decisions based on the right evidence.</li>
  <li><strong>Hardware-friendly model architectures</strong><br>
    How to improve prefill/decode performance under specific hardware constraints.</li>
</ul>
<p>
  Please feel free to reach out, whether you'd like to talk research or just have a casual chat!
</p>
<!-- <p>
  Outside of work, I enjoy staying active — hiking, running 10K+, and weight training.
</p> -->
